rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    function hasVerifiedEmail() {
      return request.auth.token.email_verified == true;
    }

    function isAdmin() {
      return isAuthenticated() && 
        (request.auth.token.email == "admin@bemestar.com" || 
         request.auth.token.email == "teste@teste.com" || 
         request.auth.token.email == "rodrigo.carvalho@jpiaget.com.br");
    }

    function isCurrentUser(email) {
      return isAuthenticated() && request.auth.token.email == email;
    }

    function debug() {
      return true;
    }

    match /usuarios/{usuarioId} {
      // Permitir leitura para usuários autenticados
      allow read: if isAuthenticated();
      
      // Permitir escrita para admins ou para o próprio usuário (apenas para atualizar seu próprio perfil)
      allow write: if isAdmin() || 
                    (resource != null && 
                     isCurrentUser(resource.data.email) && 
                     request.resource.data.email == resource.data.email && 
                     request.resource.data.perfil == resource.data.perfil);
    }

    match /refeicoes/{refeicaoId} {
      allow read: if
        isAuthenticated() && (
          hasVerifiedEmail() ||
          debug()
        );
      
      allow write: if
        isAuthenticated() && (
          hasVerifiedEmail() ||
          debug()
        );
    }
    
    match /alunos/{alunoId} {
      allow read: if
        isAuthenticated() && (
          hasVerifiedEmail() ||
          debug()
        );
      
      allow write: if
        isAuthenticated() && (
          hasVerifiedEmail() ||
          debug()
        );
    }
    
    match /restaurante/{docId} {
      allow read: if
        isAuthenticated() && (
          hasVerifiedEmail() ||
          debug()
        );
      
      allow write: if
        isAuthenticated() && (
          hasVerifiedEmail() ||
          debug()
        );
    }
    
    match /atividades/{atividadeId} {
      allow read: if
        isAuthenticated() && (
          hasVerifiedEmail() ||
          debug()
        );
      
      allow write: if
        isAuthenticated() && (
          hasVerifiedEmail() ||
          debug()
        );
    }
    
    match /{document=**} {
      allow read, write: if false;
    }
  }
}